@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat+Alternates:wght@300;400&family=Radio+Canada:wght@300&family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Delius+Unicase&family=Radio+Canada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Bungee&family=Delius+Unicase&family=Radio+Canada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Bungee&family=Delius+Unicase&family=Gugi&family=Radio+Canada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Delius+Unicase&family=Gugi&family=Jaldi:wght@700&family=Radio+Canada:wght@300&display=swap');

* {
    margin: 0
}

/* barra inicial */
.header {
    width: 100%;
    position: fixed;
    /* border: 3px solid green; */
    top: 0;
    left: 0;
    background: black;
    transition: .5s;
}

.container1 {
    /* border: 3px solid red; */
    width: 95%;
    margin: auto;
    display: flex;
}

.header .container1 {
    justify-content: space-between;
}



/* imagem */
.parallax {
    /* border: 3px solid yellow; */
    width: 100%;
    height: 95vh;
    background-image: url(acess/Group\ 21.png);
    background-repeat: no-repeat;
    background-size: cover;
}



/* menu */
.navbar {
    /* border: 3px solid blue; */
    font-family: 'Do Hyeon', sans-serif;
    color: white;
    list-style: none;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;

}




/* banner */
.banner {
    /* border: 3px solid blue; */
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(acess/Vector\ 6.png);
    padding: 100px 0;
    height: 180vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner h1 {
    font-family: 'Radio Canada', sans-serif;
    color: white;
    font-size: 90px;
    margin-bottom: 0;
    margin-top: 5%;
    margin-left: 8%;
}

.banner .boom p {
    font-family: 'Radio Canada', sans-serif;
    color: white;
    margin: 5%;
    font-size: 22px;
    margin-top: 2%;
    margin-bottom: 8%;
}

.banner .history p {
    color: white;
    margin: 5%;
    font-size: 22px;
    margin-top: 2%;
    margin-bottom: 10%;
}




/* caixas */
.boxes {
    /* border: 3px solid green; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.boxes .container {
    /* border: 3px solid red; */
    height: 45vh;
    width: 100%;
    justify-content: center;
}

.box {
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-left: 17%;
    margin-right: 17%;
    background: white;
    border-radius: 3em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box p {
    font-family: 'Delius Unicase', cursive;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: black;
    margin-top: 20%;
}

.box img {
    margin-top: 20%;
}




/* musicas */
.album {
    /* border: 3px solid red; */
    margin-top: 30%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;

}

.album .container {
    width: 100%;
    height: 90%;
    border: 5px solid black;
    overflow-y: hidden;
    overflow-x: scroll;
}

.album .container h1 {
    /* border: 3px solid orange; */
    font-family: 'Radio Canada', sans-serif;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 80px;
}

.musica {
    /* border: 3px solid purple; */
    width: 100%;
    height: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 5%;
    font-size: 20px;
}

.musica img {
    /* border: 3px solid green; */
    margin-left: 10%;
    margin-right: 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.musica img {
    transition: 0.2s;
}

.musica :hover {
    transform: scale(1.1);
}

.musica h2 {
    /* border: 3px solid rgb(155, 11, 95); */
    font-family: 'Anaheim', sans-serif;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 8%;
}




/* footer */
.footer {
    /* border: 3px solid green; */
    display: flex;
    margin: 20% 0 0 0;
    width: 100%;
    background: black;
    background: linear-gradient(180deg, rgb(0, 0, 0)80.96%, rgb(116, 1, 1) 100%);
}

.footer .container {
    /* border: 3px solid red; */
    height: 30%;
    width: 95%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .image{
    /* border: 3px solid blue; */
    display: flex;
    margin: 3% 2% 4% 2%;
}

.inicio h6{
    /* border: 3px solid orange; */
    font-family: 'Radio Canada', sans-serif;
    margin-bottom: 150px;
    color: white;
    opacity: 0.5;
}


.frase{
    /* border: 3px solid blue; */
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frase .f1{
    font-size: 35px;
    color: white;
}

.frase .f2{
    font-size: 20px;
    margin-top: 5%;
    color: rgb(255, 255, 255) ;
    opacity: 0.5;
}