@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat+Alternates:wght@300;400&family=Radio+Canada:wght@300&family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Delius+Unicase&family=Radio+Canada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Bungee&family=Delius+Unicase&family=Radio+Canada:wght@300&display=swap');

* {
    margin: 0;
}


body {
    background-color: #111111;
}

/* barra inicial */
.header {
    /* border: 3px solid green; */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 12% auto;
    background: black;
    z-index: 2000;
}

.container1 {
    /* border: 3px solid red; */
    width: 95%;
    margin: auto;
    display: flex;
}

.container1 span img {
    /* border: 3px solid green; */
    width: 170px;
    margin-top: 8%;
}

.header .container1 {
    justify-content: space-between;
}


/* menu */
.navbar {
    /* border: 3px solid blue; */
    font-family: 'Do Hyeon', sans-serif;
    color: white;
    list-style: none;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin: 15px;
}

.navbar li {
    margin-top: 5px;
}

.usuario {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
}

.usuario p {
    font-size: 15px;
    margin-top: 10%;
    margin-bottom: -7%;
}


.inicio {
    color: #171fac;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #171fac;
}

.dropbtn {
    background-color: black;
    font-family: 'Do Hyeon', sans-serif;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #00067e;
    border-radius: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00067e;
    border-radius: 5px;
}



/* /////////////////////////////////// */





.banner {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;

}

.banner .container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    width: 40%;
    height: 555px;
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: rgba(23, 27, 112, 0.4) -5px 5px, rgba(23, 27, 112, 0.3) -10px 10px, rgba(23, 27, 112, 0.2) -15px 15px, rgba(23, 27, 112, 0.1) -20px 20px, rgba(23, 27, 112, 0.05) -25px 25px;
}

.titulo {
    /* border: 3px solid green; */
    display: flex;
    margin-bottom: 5%;
    font-size: 25px;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #251268;
    color: white;
    height: 100px;
    align-items: center;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.questao {
    /* border: 3px solid pink; */
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-bottom: 6%;
    margin-left: 5%;
    margin-right: 3%;
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.pergunta .linha {
    /* border: 3px solid yellow; */
    font-size: 20px;
    display: flex;
    justify-content: start;
    margin-bottom: 1%;
}


/* ///////////////////////////////////// */
.banner-- {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;

}

.banner-- .container-- {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    width: 40%;
    height: 555px;
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: rgba(23, 27, 112, 0.4) -5px 5px, rgba(23, 27, 112, 0.3) -10px 10px, rgba(23, 27, 112, 0.2) -15px 15px, rgba(23, 27, 112, 0.1) -20px 20px, rgba(23, 27, 112, 0.05) -25px 25px;
}

.titulo-- {
    /* border: 3px solid green; */
    display: flex;
    margin-bottom: 4%;
    font-size: 25px;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #251268;
    color: white;
    height: 100px;
    align-items: center;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.questao-- {
    /* border: 3px solid pink; */
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-bottom: 8%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 3%;
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.pergunta-- .linha-- {
    /* border: 3px solid yellow; */
    font-size: 20px;
    display: flex;
    justify-content: start;
    margin-bottom: 1%;
}

/* ///////////////////////////////////////////////////// */
/* CSS */
.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #06013871;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: #00108cd0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    border: 2px solid #141a90d6;
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

/* //////////////////////// tela inicial //////////////////////////// */
.banner- {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
}

.banner- .container- {
    /* border: 3px solid #00067e; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 17% auto 10% auto;
    width: 50%;
    height: 390px;
}

.titulo- {
    /* border: 3px solid green; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin-bottom: 5%;
    font-size: 40px;
    justify-content: center;
    color: white;
    height: 100px;
    align-items: center;
}


.texto {
    /* border: 3px solid white; */
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.questao- {
    /* border: 3px solid red; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    height: 70px;
    margin: 10% auto;
}



/* CSS */
.button-85 {
    padding: 0.2em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    font-size: 20px;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #16027b,
            #16027b,
            #0012b3,
            #002bff,
            #2347fb,
            #002bff,
            #0012b3,
            #16027b,
            #16027b);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}






/* /////////////////////////////////////////////////////// */

.banner_ {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;

}

.banner_ .container_ {
    /* border: 3px solid blue; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    width: 40%;
    height: 555px;
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: rgba(23, 27, 112, 0.4) -5px 5px, rgba(23, 27, 112, 0.3) -10px 10px, rgba(23, 27, 112, 0.2) -15px 15px, rgba(23, 27, 112, 0.1) -20px 20px, rgba(23, 27, 112, 0.05) -25px 25px;
}

.titulo_ {
    /* border: 3px solid green; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin-bottom: 5%;
    font-size: 25px;
    justify-content: center;
    background-color: #251268;
    color: white;
    height: 100px;
    align-items: center;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.questao_ {
    /* border: 3px solid pink; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    margin-bottom: 10%;
    margin-top: 7%;
    display: flex;
    justify-content: center;

}


.pergunta_ .linha_ {
    /* border: 3px solid yellow; */
    font-size: 20px;
    display: flex;
    justify-content: start;
    margin-bottom: 1%;
}

/* ////////////////////////////// pontuação ////////////////////////////////// */

.banner7 {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;

}

.banner7 .container7 {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    margin: 8% auto;
    width: 60%;
    height: 570px;
    background-color: rgba(255, 255, 255, 0.945);
    border-radius: 20px;
}


.titulo7 {
    /* border: 3px solid green; */
    display: flex;
    font-size: 25px;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #251268;
    color: white;
    height: 190px;
    align-items: center;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.coluna7 {
    /* border: 3px solid purple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200PX;
    border-bottom: 5px solid #251268;
}

.posicao {
    /* border: 3px solid red; */
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
}

.posicao .container {
    /* border: 3px solid blue; */
    width: 50%;
    display: flex;
    justify-content: center;
}

.posicao1 .pergunta7 .linha7 {
    border: 3px solid yellow;
    font-size: 20px;
    display: flex;
    justify-content: start;
    height: 200px;
}


.nota7 {
    /* border: 3px solid orange; */
    height: 800px;

    overflow-x: hidden;
}

.nota7::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.nota7::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.nota7::-webkit-scrollbar-thumb {
    background: #251268;
    border: 0px none #ffffff;
    border-radius: 4px;
}

.nota7 .container7::-webkit-scrollbar-thumb:hover {
    background: #251268;
}

.nota7::-webkit-scrollbar-thumb:active {
    background: #140f57;
}

.nota7::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 0px;
}

.nota7.container7::-webkit-scrollbar-track:hover {
    background: #ffffff;
}

.nota7::-webkit-scrollbar-track:active {
    background: #ffffff;
}

.nota7::-webkit-scrollbar-corner {
    background: transparent;
}

.dados7 {
    /* border: 3px solid #000000af; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1% auto;
    height: 60px;
    color: rgb(0, 0, 0);
    align-items: center;
    font-size: 20px;
    background-color: #251268;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dados6 {
    /* border: 3px solid #000000af; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 40px;
    color: rgb(0, 0, 0);
    align-items: center;
    font-size: 20px;
}


.separar1 {
    /* border: 3px solid green; */
    display: flex;
    width: 37%;
    justify-content: center;
}


.separar2 {
    /* border: 3px solid green; */
    display: flex;
    width: 40%;
    justify-content: center;
}

.separar3 {
    /* border: 3px solid green; */
    display: flex;
    width: 35%;
    justify-content: center;
}

.linha7 {
    /* border: 3px solid yellow; */
    font-size: 20px;
    display: flex;
    justify-content: end;
}

.conter {
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 2%;
    margin-bottom: 3%;
}


/* CSS */
.button-24 {
    background: #120076;
    border: 1px solid #000000;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #1900a9;
}

.button-24:active {
    opacity: .5;
}


/* ////////////////////// grafico //////////////////////////// */

.grafico {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.grafico .container {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.identificacao {
    /* border: 3px solid orange; */
    color: white;
    margin: 5% auto;
    font-size: 30px;
}

.organizar {
    /* border: 3px solid pink; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 60%;
}

.dados_grafico {
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 80%;
    background-color: rgba(245, 245, 245, 0.863);
}

.proximo- {
    /* border: 3px solid white; */
    display: flex;
    justify-content: end;
    margin-top: 5%;
}


/* ///////////////////////////// comentario ///////////////////////// */

.comentario {
    /* border: 3px solid red; */
    height: 400px;
    margin: 10% 25% 10% 25%;
}

.comentario .container {
    /* border: 3px solid blue; */
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}

.tipo {
    /* border: 3px solid yellow; */
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.umavez {
    /* border: 3px solid green; */
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.title {
    /* border: 3px solid orangered; */
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 25%;
    color: white;
    font-size: 20px;
}

.title input{
    font-size: 20px;
}

.pose{
/* border: 3px solid darkolivegreen; */
display: flex;
flex-direction: column;
height: 200px;
font-size: 20px;
margin-top: 2%;
}

.pose textarea{
    height: 200px;
    font-size: 20px;
}

.description {
    /* border: 3px solid mediumvioletred; */
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    /* width: 80%; */
    color: white;
    font-size: 20px;
}

/* ///////////////////////////////////////////////////// */
.footer {
    /* border: 3px solid green; */
    display: flex;
    margin: 20% 0 0 0;
    width: 100%;
    background: black;
    background: linear-gradient(180deg, rgb(0, 0, 0)80.96%, rgb(9, 1, 116) 100%);
}

.footer .container {
    /* border: 3px solid red; */
    height: 130px;
    width: 95%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .image {
    /* border: 3px solid blue; */
    display: flex;
    margin: 4% 2% 4% 6%;
}

.image span img {
    width: 78%;
}

.inicio h6 {
    /* border: 3px solid orange; */
    font-family: 'Radio Canada', sans-serif;
    margin-bottom: 70px;
    color: white;
    opacity: 0.5;
}


.frase {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -15%;
}

.frase .f1 {
    font-size: 25px;
    color: white;
}

.frase .f2 {
    font-size: 18px;
    margin-top: 2%;
    color: rgb(255, 255, 255);
    opacity: 0.5;
}